---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: status

"on":
  workflow_dispatch:
  schedule:
    - cron:  "30 5 * * *"

permissions:
  contents: read

jobs:
  status:
    runs-on: ubuntu-latest

    steps:
      - name: Generate token
        id: token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TOKEN_EXCHANGE_APP }}
          private-key: ${{ secrets.TOKEN_EXCHANGE_KEY }}
          permission-contents: write

      - name: Checkout source
        uses: actions/checkout@v6
        with:
          token: ${{ steps.token.outputs.token }}

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Write date
        run: date >| .github/STATUS

      - name: Execute script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bundle exec scripts/generate-status

      - name: Source rebase
        run: git pull --autostash --rebase

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: github@webhippie.de
          add: STATUS.md .github/STATUS
          message: "docs: automated status update [skip ci]"
          push: true
          commit: --signoff

...
